<mat-sidenav-container class="h-[100dvh]">
  <mat-sidenav #drawer class="w-[288px]! border-r border-outline-variant!"
    [attr.role]="(isLessThanMD$ | async) ? 'dialog' : 'navigation'" [mode]="(isLessThanMD$ | async) ? 'over' : 'side'"
    [opened]="(isLessThanMD$ | async) === false">
    <div class="flex flex-col h-full">
      <mat-toolbar class="bg-inherit">
        <img class="size-32" src="icon-company.png" alt="Your Company" />
        @if (isLessThanMD$ | async) {
        <span class="flex-1"></span>
        <button mat-icon-button aria-label="Toggle sidenav" (click)="drawer.toggle()">
          <mat-icon>menu_opened</mat-icon>
        </button>
        }
      </mat-toolbar>
      <mat-nav-list>
        @for (menuItem of mainMenu; track menuItem.id) {
        <a mat-list-item 
           [routerLink]="menuItem.routerLink" 
           routerLinkActive="mat-list-item-active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matListItemIcon>{{ menuItem.icon }}</mat-icon>
          {{ menuItem.label }}
        </a>
        }

        <h3 matSubheader class="text-sm font-medium text-gray-400! dark:text-gray-500!">
          Seus Projetos
        </h3>
        @for (menuItem of teamMenu; track menuItem.id) {
        <a mat-list-item routerLink="." fragment="#">
          <span matListItemIcon
            class="text-xs! text-gray-400! dark:text-gray-500! font-medium! rounded-lg w-6 h-6 flex items-center justify-center border border-outline-variant!">{{
            menuItem.label.slice(0, 1) }}</span>
          {{ menuItem.label }}
        </a>
        }
      </mat-nav-list>
      @if ((isLessThanMD$ | async) === false) {
      <mat-action-list class="mt-auto!">
        <button mat-list-item (click)=" openProfileModal()">
          <img [src]="user().imageUrl" alt="User" matListItemAvatar class="object-cover" />
          <span matListItemTitle>{{ user().name }}</span>
          <span matListItemLine (click)="logout()">{{ user().email }}</span>
        </button>
      </mat-action-list>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isLessThanMD$ | async) {
    <mat-toolbar class="top-0 sticky z-1 space-x-2 shadow-sm">
      <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="size-16" src="assets/icon-company.png" alt="Your Company" />
      <span class="flex-1"></span>
      <button mat-icon-button class="custom-avatar-button" (click)="openProfileModal()"> 
        <img [src]="user().imageUrl"
          alt="User" 
          class="object-cover rounded-full" />
      </button>
    </mat-toolbar>
    }

    <main class="h-[calc(100dvh-64px)] md:h-full relative">
      <div class="absolute top-0 left-0 right-0 lg:right-0 h-full">
        <div class="p-4 md:p-6 h-full">
          <router-outlet />
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>