<div class="border-b border-gray-200 dark:border-gray-700 pb-5 mb-5 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-2xl font-semibold leading-6 text-gray-900 dark:text-white">
    Projetos da Plataforma
  </h3>
  
  <mat-form-field appearance="outline" class="w-120 mt-6">
    <mat-label>Buscar projetos (por título, descrição ou habilidade)</mat-label>
    <input
      type="text"
      placeholder="Ex: Angular, E-commerce, etc..."
      aria-label="Buscar projetos"
      matInput
      [formControl]="searchControl"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  
  @if (isEmpresa()) {
  <div class="mt-3 sm:ml-4 sm:mt-0">
    <button (click)="openCreateModal()" type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      Criar novo projeto
    </button>
  </div>
  }
</div>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  @for (project of projects(); track project.id) {
    <div (click)="openProjectDetails(project)" 
         class="flex flex-col justify-between divide-y divide-gray-200 dark:divide-gray-700 rounded-lg bg-white dark:bg-gray-800 shadow-md hover:shadow-xl transition-shadow duration-200 cursor-pointer">
      
      @if (currentUser()?.id === project.empresaId) {
      <div class="w-full flex justify-between p-2">
        <button mat-icon-button 
                (click)="deleteProject(project, $event)"
                aria-label="Deletar projeto"
                class="text-gray-400 hover:text-red-500"
                >
          <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-icon-button 
                (click)="openEditModal(project, $event)"
                aria-label="Editar projeto"
                class="text-gray-400 hover:text-indigo-500"
                >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      } @else {
        <div class="h-[56px]"></div>
      }
        
      <div class="p-6">
        <div class="flex items-center justify-between">
          <p class="text-lg font-semibold text-indigo-600 dark:text-indigo-400">
            {{ project.titulo }}
          </p>
          <div>
            @if (currentUser()?.id === project.empresaId) {
              <button 
                type="button"
                [matMenuTriggerFor]="statusMenu" 
                (click)="$event.stopPropagation()"
                [ngClass]="getStatusClass(project.status)"
                class="rounded-md whitespace-nowrap px-2 py-1 text-xs font-medium ring-1 ring-inset cursor-pointer inline-flex items-center">
                {{ project.status }}
                <mat-icon class="text-xs w-4 h-4 ml-1">expand_more</mat-icon>
              </button>
              <mat-menu #statusMenu="matMenu">
                @for (status of projectStatusOptions; track status) {
                  <button mat-menu-item (click)="changeProjectStatus(project, status, $event)">
                    @if (project.status === status) {
                      <mat-icon class="text-xs w-4 h-4 mr-2">check</mat-icon>
                    } @else {
                      <span class="w-4 h-4 mr-2"></span> }
                    <span>{{ status }}</span>
                  </button>
                }
              </mat-menu>
            }
            @if (currentUser()?.id !== project.empresaId) {
              <span [ngClass]="getStatusClass(project.status)"
                    class="rounded-md whitespace-nowrap px-2 py-1 text-xs font-medium ring-1 ring-inset">
                {{ project.status }}
              </span>
            }
          </div>
        </div>
        
        <p class="mt-3 text-sm text-gray-600 dark:text-gray-300">
          {{ project.descricao | slice:0:100 }}...
        </p>

        <p class="mt-4 text-base font-medium text-gray-900 dark:text-white">
          Orçamento: {{ project.orcamento | currency: 'BRL' }}
        </p>

        @if (project.prazoFinal) {
          <p class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-200">
            Prazo: <span class="text-gray-900 dark:text-white">{{ project.prazoFinal | date: 'dd/MM/yyyy' }}</span>
          </p>
        }
      </div>

      <div class="p-6">
        @if(project.habilidadesNecessarias && project.habilidadesNecessarias.length > 0) {
          <div class="mb-4">
            <h4 class="text-sm font-medium text-gray-500 dark:text-gray-400 mb-2">Habilidades</h4>
            <div class="flex flex-wrap gap-2">
              @for (skill of project.habilidadesNecessarias || []; track skill) {
                <span class="inline-flex items-center rounded-full bg-gray-100 dark:bg-gray-700 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:text-gray-200">
                  {{ skill }}
                </span>
              }
            </div>
          </div>
        } @else {
          <div class="mb-4 h-[30px]"></div>
        }

        
        <button (click)="openProjectDetails(project)" class="w-full flex justify-center rounded-md bg-white dark:bg-gray-700 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600 hover:bg-gray-50 dark:hover:bg-gray-600 mb-4">
          Ver detalhes
        </button>
      
        @if (isFreelancer()) {
          @if (project.status === 'Aberto') {
            <button class="w-full flex justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500"
                    (click)="openProposalModal(project, $event)">
              Candidatar-se
            </button>
          }
          @if (project.status === 'Em Andamento' && project.freelancerId === currentUser()?.id) {
            <button disabled class="w-full flex justify-center rounded-md bg-gray-400 px-3 py-2 text-sm font-semibold text-white shadow-sm">
              Trabalho em Andamento
            </button>
          }
        }

        @if (isEmpresa() && project.empresaId === currentUser()?.id) {
          @if (project.status === 'Aberto') {
            <button (click)="openProposalList(project, $event)" class="w-full flex justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500">
              Ver Propostas
            </button>
          }
          @if (project.status === 'Em Andamento') {
             <button disabled class="w-full flex justify-center rounded-md bg-gray-400 px-3 py-2 text-sm font-semibold text-white shadow-sm">
              Em Andamento
            </button>
          }
        }

        @if (project.status === 'Concluído') {
          @if (project.empresaId === currentUser()?.id || project.freelancerId === currentUser()?.id) {
            
            @if (reviewsMap().get(project.id) === true) {
              <button disabled class="w-full flex justify-center items-center gap-x-2 rounded-md bg-white dark:bg-gray-700 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-600">
                <mat-icon class="!text-base">check_circle</mat-icon>
                Avaliado
              </button>
            } @else {
              <button (click)="openReviewModal(project, $event)" class="w-full flex justify-center items-center gap-x-2 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">
                <mat-icon class="!text-base">star</mat-icon>
                Avaliar Projeto
              </button>
            }
          }
        }
        </div>
    </div>
  } @empty {
    <div class="col-span-1 sm:col-span-2 lg:col-span-3 text-center text-gray-500 dark:text-gray-400 py-10">
      Nenhum projeto encontrado.
    </div>
  }
</div>